:root {
  --primary: rgb(154, 184, 182);
  --primaryHover: rgb(197, 215, 214);
  --secondary: rgb(29, 78, 216);
  --secondaryHover: rgb(118, 146, 224);
  --hover: rgb(229, 243, 232);
  --question: rgb(247, 247, 247);
  --bg: #212121;
  --inputDiv: #d9d9d9;
  --modal: rgba(41, 41, 41, 0.9);
}

.chat-container {
  background-color: var(--bg);
}
.question {
  background-color: var(--question);
}
.answer {
  background-color: var(--primaryHover);
}
.profile-div {
  background-color: var(--primary);
}
.dropdown {
  background-color: var(--primaryHover);
  color: black;
}
.menu:hover {
  background-color: var(--hover);
}
.modal {
  background-color: var(--modal);
}
.settings-div {
  background-color: var(--primary);
}
.setting {
  background-color: var(--primaryHover);
}
.setting:hover {
  background-color: rgb(245, 225, 225);
}
.settings {
  background-color: var(--hover);
}
.button {
  background-color: red;
}
.button:hover {
  background-color: rgb(114, 160, 252);
}
