@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: rgb(154, 184, 182);
  --primaryHover: rgb(197, 215, 214);
  --secondary: rgb(29, 78, 216);
  --secondaryHover: rgb(118, 146, 224);
  --hover: rgb(229, 243, 232);
  --question: rgb(235, 232, 232);
  --bg: #65777f;
  --inputDiv: #d9d9d9;
  --modal: rgba(41, 41, 41, 0.9);
  --scrollbar: #7ab39e;
  --messagebar: #484646;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.chat-container {
  background-color: var(--bg);
}
.question {
  background-color: var(--question);
}
.answer {
  background-color: var(--primaryHover);
}
.profile-div {
  background-color: var(--primary);
}
.dropdown {
  background-color: var(--primaryHover);
  color: black;
}
.menu:hover {
  background-color: var(--hover);
}
.modal {
  background-color: var(--modal);
}
.settings-div {
  background-color: var(--primary);
}
.setting {
  background-color: var(--primaryHover);
}
.setting:hover {
  background-color: rgb(245, 225, 225);
}
.settings {
  background-color: var(--hover);
}
.button {
  background-color: red;
}
.button:hover {
  background-color: rgb(114, 160, 252);
}
.send-message {
  background-color: var(--primary);
}
.send-message:hover {
  background-color: var(--primaryHover);
}
.message-input:focus {
  box-shadow: 0px 0px 10px 4px rgba(255, 79, 79, 0.6);
}
.message-bar {
  background-color: var(--messagebar);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
